*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}
html {
    height: 100%;
}
.app {
    transition: 1s;
    min-height: 100vh;
}
.app-dark {
    background-color: #212e47;;
    min-height: 100vh;
    transition: 1s;
}
a{
    text-decoration: none;
    margin:10px;
    padding:15px;
    color:black;
}
.app-dark button,.app-dark h1,
.app-dark a,.app-dark .fa::before  { 
    color:white;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    height: 10vh!important;
}
.country-buttons{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}
button {
    height: 45px;
    width: 55px;
    margin: 0px 10px 0px 10px;
    border:none;
    background: transparent;
    color:black;
}
h1 {
    text-align: center;
    margin:25px!important;
    color:black;
}
.grid-thumbnails {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(350px,auto);
    justify-content: center; 
    align-content: center;  
    grid-gap:35px;
    margin:0px auto;
    width: 90%;
    padding: 50px;
    text-align: left;
}
.single-thumbnail{
    position: relative;
    height: inherit;
}
.single-thumbnail img {
    width: 100%;
    height: 100%;
}
.top-text {
    position: absolute;
    margin: 0 auto;       
    text-align: center;
    top: 0%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100%;
}
.bottom-text{
    position: absolute;
    margin: 0 auto;
    text-align: center;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100%; 
}
.article-container  {
    width: 70%;
    margin:auto;
    height: 100%;
}
.article-content {
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: gainsboro;
    overflow: auto;
}
.article-content img {
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
}
.article-content p {
    margin: 30px;
}
.article-content h2 {
    width: 100%;
    margin:0!important;
}
.article-content a {
    color:black;
}
/* */
.slide-thumbnail {
    position: relative;
    width: 300px;
    height: 200px;
    margin:25px;
}
.slide-thumbnail img {
    height: 100%;
    width:  100%;
}
.categories {
    position: relative;
    margin:50px auto;
    padding:50px 10px;
    width: 85%;
    text-align: center;
}
.categories h2 {
    text-align: start;
    display: inline-block;
}
.previous-next {
    transform: translateY(180%);
}
.slide-show {
    display:flex;
    margin:auto auto;
    justify-content: center!important;
    align-items: center;
    overflow: hidden;
}
.category-title {
    text-align: left!important;
}
.search-input{
    height: 35px;
    width: 250px;
}
.form-check {
    display: inline-block;
}
.fa::before{
   color: black;
   cursor: pointer;
   height: 30px;
   width: 55px;
   margin: 0px 10px 0px 10px;
}
.search-container{
    text-align: center;
}
.hamburger{
    display: none;
}
.bi-sun {
    transform: rotate(180deg);
    transition: 1s;
}
.bi-moon {
    transition: 1s;
}
@media (max-width: 1500px){
    .grid-thumbnails {
        display: grid;
        grid-template-columns: 45% 45% ;
        grid-auto-rows: minmax(350px,auto);
    }
}
@media (max-width: 1000px){
    
    .grid-thumbnails {
        grid-template-columns: 90%;
    }
    .article-container {
        width: 90%!important;
    }
    .article-content img {
        height: 50%;
        min-height: 35%;
    }
    .article-content h2 {
        font-size: 25px;
        margin-bottom: 15px!important;
    }
    .article-content p {
        font-size: 15px;
    }
    .nav-links{
        display: flex;
        visibility: hidden;
        flex-flow: column nowrap;
        position:   fixed;
        z-index: 5;
        height: 100vh;
        width: 300px;
        top:0;
        left:-40vh;
        padding-top:7vh;
        color:black;
        text-decoration: none;
        background-color: grey;
        transition:0.7s ease-in-out;
    }
    .nav-links a {
        padding:20px!important;
    }
    .app-dark .hamburger.is-active .hamburger-inner,.app-dark 
    .hamburger.is-active .hamburger-inner::before,.app-dark 
    .hamburger.is-active .hamburger-inner::after,
    .app-dark .hamburger-inner,.app-dark .hamburger-inner::before,.app-dark .hamburger-inner::after {
      background-color: white; 
    }
    .hamburger {
        padding: 15px 15px;
        position: relative;
        z-index: 10;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible; }
        .hamburger:hover {
          opacity: 0.7; }
        .hamburger.is-active:hover {
          opacity: 0.7; }
        .hamburger.is-active .hamburger-inner,
        .hamburger.is-active .hamburger-inner::before,
        .hamburger.is-active .hamburger-inner::after {
          background-color: black; }
      
      .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative; }
      
      .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px; }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          width: 40px;
          height: 4px;
          background-color: black;
          border-radius: 4px;
          position: absolute;
          transition-property: transform;
          transition-duration: 0.15s;
          transition-timing-function: ease; }
        .hamburger-inner::before, .hamburger-inner::after {
          content: "";
          display: block; }
        .hamburger-inner::before {
          top: -10px; }
        .hamburger-inner::after {
          bottom: -10px; }
          
       .hamburger--spin .hamburger-inner {
         transition-duration: 0.22s;
         transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
         .hamburger--spin .hamburger-inner::before {
           transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
         .hamburger--spin .hamburger-inner::after {
           transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
       
       .hamburger--spin.is-active .hamburger-inner {
         transform: rotate(225deg);
         transition-delay: 0.12s;
         transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
         .hamburger--spin.is-active .hamburger-inner::before {
           top: 0;
           opacity: 0;
           transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
         .hamburger--spin.is-active .hamburger-inner::after {
           bottom: 0;
           transform: rotate(-90deg);
           transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
       
}
@media (max-width: 1200px) {
    .slide-show {
       flex-direction: column;
    }
    .fa{
        margin:30px;
        transform: rotate(90deg);
     }
}

